@import 'grommet/scss/hpe/index.scss';

.grommet-cms-content-blocks--carousel-slide__small {
  width: 100%;
  height: 192px;
}

.grommet-cms-content-blocks--carousel-slide__medium {
  width: 100%;
  height: 384px;
}

.grommet-cms-content-blocks--carousel-slide__large {
  width: 100%;
  height: 576px;
}

.grommet-cms-content-blocks--carousel-slide__xlarge {
  width: 100%;
  height: 720px;
}

.grommet-cms-content-blocks--carousel-slide__xxlarge {
  width: 100%;
  height: 960px;
}

.grommet-cms-content-blocks--carousel-slide__full {
  object-fit: cover;
  width: 100vw !important;
  height: 100vh !important;
}

.grommet-cms-content-blocks--carousel-slide__content-box {
  position: relative;
}

.grommet-cms-content-blocks--carousel-slide__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grommet-cms-content-blocks--carousel-slide__inner-box {
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

.video-layer {
  .grommetux-layer__container {
    background-color: #000;
  }

   // Remove phantom scroll bars in IE11.
  &.grommetux-layer--flush {
    .grommetux-layer__container {
      @include media-query(lap-and-up) {
        width: calc(100vw - 48px);
        max-width: calc(100vw - 48px);
        height: calc(100vh - 48px);
        min-height: calc(100vh - 48px);
        max-height: calc(100vh - 48px);
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  &__video-container {
    height: 90vh;
    overflow: hidden;
    // remove the centered pause button on video player
    .grommetux-video__overlay {
      .grommetux-video__button {
        .grommetux-control-icon.grommetux-control-icon-pause {
          @media screen and (min-width: 720px) {
            visibility: hidden;
            display: none;
          }
        }
      }
    }
    
    video {
      height: calc(90vh - 24px);
      width: calc(90vw - 24px);
    }
  }

  .grommetux-video__controls-primary {
    button.grommetux-video__button {
      display: flex;

      svg.grommetux-control-icon-expand {
        // Icon is flush with svg edge which makes it larger than other icons.
        height: 23px;
        width: 23px;
      }
    }
  }

  .grommetux-layer__closer .grommetux-button__icon > svg {
    fill: nth($brand-light-colors, 2);
    stroke: nth($brand-light-colors, 2);

    &:hover {
      fill: nth($brand-grey-colors, 3);
      stroke: nth($brand-grey-colors, 3);
    }
  }
}

.grommetux-layer__container:first-child {
  display: block !important;
}

.grommetux-control-icon:not([class*="color-index-plain"]) * {
  stroke: inherit;
}
